/* _content/asme/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ptw9jd308n] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ptw9jd308n] {
  color: #0077cc;
}

.btn-primary[b-ptw9jd308n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ptw9jd308n], .nav-pills .show > .nav-link[b-ptw9jd308n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ptw9jd308n] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ptw9jd308n] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ptw9jd308n] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ptw9jd308n] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ptw9jd308n] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/asme/Areas/Client/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rxrxgcj3a4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rxrxgcj3a4] {
  color: #0077cc;
}

.btn-primary[b-rxrxgcj3a4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rxrxgcj3a4], .nav-pills .show > .nav-link[b-rxrxgcj3a4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rxrxgcj3a4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rxrxgcj3a4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rxrxgcj3a4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rxrxgcj3a4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rxrxgcj3a4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/asme/Areas/fa/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-wq7pr05d3w] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-wq7pr05d3w] {
  color: #0077cc;
}

.btn-primary[b-wq7pr05d3w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-wq7pr05d3w], .nav-pills .show > .nav-link[b-wq7pr05d3w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-wq7pr05d3w] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-wq7pr05d3w] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-wq7pr05d3w] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-wq7pr05d3w] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-wq7pr05d3w] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/asme/Areas/pa/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-d55ef1j9uu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-d55ef1j9uu] {
  color: #0077cc;
}

.btn-primary[b-d55ef1j9uu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-d55ef1j9uu], .nav-pills .show > .nav-link[b-d55ef1j9uu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-d55ef1j9uu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-d55ef1j9uu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-d55ef1j9uu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-d55ef1j9uu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-d55ef1j9uu] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
